

ion-content {
    .container {
        background-color: white;
        background-image: url("../../assets/img/background.png");  
        background-repeat: no-repeat;
        background-size: 100% 100%;  
        width: 900px;
        height: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }
}